<div role="status">
    @if (simulation(); as simulation) {
        @let status = simulation.status$ | async;
        @if (simulation.loading()) {
            <div class="spinner-border spinner-border-sm me-1" aria-hidden></div>
            Importing libraries
        } @else if (status == "complete") {
            Script finished, no simulation available
        } @else if (status == "error") {
            There was an error when running the simulation.
        } @else if (status == "interrupt") {
            Simulation is interrupted
        } @else if (status == "running") {
            <div class="spinner-border spinner-border-sm me-1" aria-hidden></div>
            Running code...
        } @else if (status == "stepper") {
            Script finished, simulation available
        }
    }
</div>
