<div class="container-fluid px-4 py-5">
    <div class="row">
        <div class="col-lg-6">
            <h2>Model</h2>
            <form [formGroup]="form" (submit)="onSubmit()">
                <div class="my-3">
                    <label class="form-label" for="input-code">Simulation code</label>
                    <textarea class="form-control font-monospace text-nowrap overflow-x-scroll" rows="24"
                        [formControl]="form.controls.code"></textarea>
                </div>
                <div class="my-3">
                    <button class="btn btn-success" type="submit">Run</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <h2 class="mb-3">Output</h2>

            @if (simulationManager.current$ | async; as simulation) {
                <!-- @if (loading$ | async) {
                    <p>Loading libraries...</p>
                } -->
                <app-output-console [console]="simulation.console()" />
            }

        </div>
    </div>
</div>
