<nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="main navigation"
    data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-brand">
                PyACT-R demo
        </div>

        <button class="navbar-toggler" type="button"
            aria-controls="navigation-links"
            [attr.aria-expanded]="burgerActive"
            aria-label="toggle navigation"
            (click)="toggleBurger()"
           -aria-label>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation-links" class="navbar-collapse" [ngbCollapse]="!burgerActive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
