<div class="card">
    <div class="card-header">
        <h2 class="fs-4 mb-0">Output</h2>
    </div>
    @if (simulation(); as simulation) {
        @let status = simulation.status$ | async;
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <span role="status" >
                    @if (status?.stage === 'loading') {
                        @switch (status?.status) {
                            @case ('idle') {
                                Waiting to start simulation...
                            }
                            @case ('running') {
                                <div class="spinner-border spinner-border-sm" aria-hidden="true"></div>
                                Loading PyACT-R...
                            }
                            @case ('interrupt') {
                                Loading interrupted!
                            }
                            @case ('error') {
                                Error while loading PyACT-R!
                            }
                            @case ('complete') {
                                Loaded PyACT-R (no script to run).
                            }
                        }
                    } @else {
                        Loaded PyACT-R
                    }
                </span>
            </div>
            @if (status?.stage === 'script' || status?.stage === 'stepper') {
                <div class="list-group-item">
                    <h3 class="fs-5">Script</h3>
                    <p role="status">
                        @if (status?.stage === 'script') {
                            @switch (status?.status) {
                                @case ('idle') {
                                    Waiting...
                                }
                                @case ('running') {
                                    <div class="spinner-border spinner-border-sm" aria-hidden="true"></div>
                                    Running script...
                                }
                                @case ('complete') {
                                    Script completed (no PyACT-R model returned)
                                }
                                @case ('error') {
                                    There was an error while running the script!
                                }
                                @case ('interrupt') {
                                    Script interrupted!
                                }
                            }
                        } @else {
                            Script complete (and returned a PyACT-R model)
                        }
                    </p>

                    <div class="my-3">
                        <app-output-console [console]="simulation.scriptConsole()" />
                    </div>
                </div>
            }
            @if (status?.stage === 'stepper') {
                <div class="list-group-item">
                    <h3 class="fs-5">Simulation</h3>
                    <p role="status">
                        @switch (status?.status) {
                            @case ('idle') {
                                Use the controls below to step through the simulation.
                            }
                            @case ('running') {
                                <div class="spinner-border spinner-border-sm" aria-hidden="true"></div>
                                Running simulation...
                            }
                            @case ('interrupt') {
                                Simulation interrupted!
                            }
                            @case ('error') {
                                There was an error while running the simulation!
                            }
                            @case ('complete') {
                                Simulation complete.
                            }
                        }
                    </p>
                    <div class="my-3">
                        <app-stepper [simulation]="simulation" />
                    </div>
                    <app-output-console [console]="simulation.stepperConsole()" />
                </div>
            }
        </div>
    } @else {
        <div class="card-body">
            Run a model script to start
        </div>
    }
</div>
